# Ignore anything that match ".terraform" directories
**/.terraform/*

# Ignore .tfstate files
*.tfstate
*.tfstate.*

# Ignore .tfplan files
*.tfplan
*/*.tfplan

# .terraform.lock file(s)
.terraform.lock.hcl

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sentitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
#
#*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore local Azure storage backend configuration and anything else in that match the ".no_commit" folder
**/.no_commit/*
#azure_storage_backend.conf

# Infracost files
**/.infracost/terraform_modules/*

# Local Git directory
.git

# MacOS General
.DS_Store
.AppleDouble
.LSOverride
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# VSCode
.vscode

# Other files
*.swp
*.log
*.bak
